<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Game</title>
</head>
<body>
<h1>Start game  </h1>
<h3><%=hello% ></h3>
<form action="/game" method="post">
    <label>Enter your number:</label>
    <input type="number" name="UserNumber">
    <input type="submit" value="Send">

</form>

</body>
</html>